body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .popup-container {
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .joke-container {
    margin-top: 20px;
  }
  
  #joke {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #generateJoke {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #generateJoke:hover {
    background-color: #0056b3;
  }
  